[Unit]
Description=pulseaudio audioserver, sound receiver for spotify requests
Requires=audioserver_pulseaudio.service
 
[Service]
Type=simple
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
Environment=PULSE_CONFIG=/home/audioserver/.config/pulse/daemon.conf
ExecStartPre=/bin/sleep 3
ExecStart=/usr/local/bin/librespot --cache /home/audioserver/.cache/librespot --backend pulseaudio --name Audioserver

[Install]
WantedBy=default.target
