[Unit]
Description=user update script
ConditionPathExistsGlob=/settings/audioserver/user.version

[Service]
Type=oneshot
ExecStart=/install-files/install/user-update.sh

[Install]
WantedBy=multi-user.target
