[Unit]
Description=pulseaudio audioserver, soundclient gstreamer
Requires=audioserver_pulseaudio.service
 
[Service]
Type=simple
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=%t/bus
Environment=PULSE_CONFIG=/home/audioserver/.config/pulse/daemon.conf
ExecStartPre=/bin/sleep 3
ExecStart=/usr/bin/gst-launch-1.0 pulsesrc device=broadcast_on_lan.monitor ! audioconvert ! lamemp3enc target=1 bitrate=256 cbr=true ! shout2send ip=127.0.0.1 port=8000 password=AUDIOSERVERPASSWORD mount=broadcast_on_lan.mp3
 
[Install]
WantedBy=default.target
 
 
# See http://hstuart.dk/2010/11/07/gstreamer-and-pulseaudio-to-a-squeezebox/
