[Unit]
Description=audioserver system first run script
ConditionPathExistsGlob=!/settings/system.version

[Service]
Type=oneshot
ExecStart=/install-files/install/system-first-run.sh

[Install]
WantedBy=multi-user.target
